h1 {
	color: #3cb371;
	font-family: verdana;
	font-size: 16 pt;
	
	}

h2 {
	color: #404040;
	font-family: verdana;
	font-size: 14 pt;
	
	}	

hr { 
	display: block;
	border-width: 1px;
	border-color: #a0a0a0;
} 	

body {
	font-family: verdana;
	font-size: 11 pt;
	padding-left: 70px;
}

footer {
   font-size: 10pt;
}

header {
   font-size: 10pt;
}

blockquote { 
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 200px;
  background-color: #3cb371;
  color: #FFFFFF;
  font-family: verdana;
  font-size: 11pt;
  line-height: 200%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  font-family: verdana;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #3cb371;
  padding: 2px;
  color: #FFFFFF;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}