h1 {
	color: #3cb371;
	font-family: verdana;
	font-size: 16 pt;
	border-bottom-width: 1px;
	border-bottom-color: #404040;
	}

h2 {
	color: #404040;
	font-family: verdana;
	font-size: 14 pt;
	border-bottom-width: 1px;
	border-bottom-color: #a0a0a0;
	}	

hr { 
	display: block;
	border-width: 1px;
	border-color: #a0a0a0;
} 	

p {
	font-family: verdana;
	font-size: 11 pt;